.box {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.addForm {
  display: table-header-group;
  background: #fff;
}

.addForm > div {
  display: table-cell;
  border-bottom: 8px solid #f1f1f1;
  padding: 16px 0 16px 16px;
}

.addForm .actions {
  padding-right: 16px;
}

.addForm .actions .btn {
  float: none;
}

.box input {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  background: #fafafa;
  border: 1px solid #eeeeee;
  padding: 0 8px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.box input:focus {
  outline: none;
}

.columns {
  display: table-row-group;
  background: #fff;
}

.columns > div {
  display: table-cell;
  height: 48px;
  vertical-align: middle;
  font-weight: bold;
  color: #797979;
  text-align: left;
  padding: 0 16px;
}

.columns > div > span {
  padding: 8px;
  color: #757575;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.columns > div > span > span {
  padding-left: 8px;
  font-size: 14px;
}


.list {
  display: table-row-group;
}

.row {
  display: table-row;
  background: #fff;
}

.row > div {
  display: table-cell;
  padding: 0 0 0 16px;
  border-top: 1px solid #f2f2f2;
  height: 72px;
  box-sizing: border-box;
  vertical-align: middle;
}

.row > div > span {
  padding: 9px;
  white-space: nowrap;
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #505050;
  font-size: 16px;
  font-weight: 400;
}

.row .actions {
  padding-right: 16px;
}

.actions > div {
  float:right;
  text-align: right;
}

.actions img {
  height: 18px;
  width: 18px;
  fill: #909090;
  padding: 10px 20px;
}

.btn {
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  margin-left: 8px;
  display: inline-block;
  color: #07f;
  background: #ededed;
}

input.btn {
  width: auto;
  padding: 0 30px;
}

.activeBtn {
  composes: btn;
  display: inline-block;
  background: #07f;
  color: #fff;
}

.disabledBtn {
  composes: btn;
  color: #757575;
  background: #ededed;
}

.actions {
  width: 24%;
  text-align: right;
}
